* {
	color:#0a0909;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    box-sizing: border-box;
    padding: 50px;
}
.content{
    display:flex;
    justify-content: center;
    align-content: center;
}
.intro-stn{
    display: flex;
}
.title_chessOpening{
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.title_chessOpening i{
    font-size: 100px;
}
.tagline{
    color:#353434 ;
    font-weight: bolder;
    font-size: 40px;
}
.btn_explore-stn{
    display: flex;
    justify-content: center;
    align-content: center;
}
.btn_explore{  
    border-color: #dbd1c4;
    background-color: #dbd1c4;
    font-weight:bolder;
    border-style:groove; 
    font-size: 70px;
    border-radius: 20px;
}
.btn_explore:hover{
   background-color:#f5f5f5;
}
.btn_explore i{
    font-size: 70px;
}